// Light theme
$light-primary: #3a0769;
$light-secondary: #ea71a1;
$light-accent: #b980fa;
$light-bg: #f4e8fc;
$light-text: #121113;

$light-success: #4caf50;
$light-warning: #f4b400;
$light-error: #e53935;

// Dark theme
$dark-primary: #c996f8;
$dark-secondary: #8e1546;
$dark-accent: #3e057f;
$dark-bg: #0f0317;
$dark-text: #edecee;

$dark-success: #81c784;
$dark-warning: #ffd54f;
$dark-error: #ef5350;
