@use "./variables";
@use "./mixins";
@use "./themes";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background: var(--color-bg);
  color: var(--color-text);
}
