.reloadToast {
  display: flex;
  justify-content: center;
  align-items: center;
  &Text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: fit-content;
    max-width: 140px;
  }
  &Title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1.4;
  }
  &Message {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.4;
  }
  &Button {
    margin: 0 1rem;
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    &Text {
      font-weight: 600;
      color: var(--color-bg);
      font-size: 0.875rem;
    }
  }
}
